


// 主色
$color-1: #A100FF;

// 其他颜色
$color-2: #303133;
$color-3: #606266;
$color-4: #909399;
$color-5: #DCDFE6;
$color-6: #EBEEF5;
$color-7: #FF0000;
$color-8: #8388FF;
$color-9: #F5F7FA;
$color-10: #fff;
$color-11: #7500c0;

// 字体
$font-family-1: Arial;
$font-family-2: Microsoft YaHei;
$font-family-3: PingFang SC;

// 字号
$font-size-1: 18px;
$font-size-2: 16px;
$font-size-3: 14px;

// 字重
$font-weight-1: normal;
$font-weight-2: bold;

// 行高
$line-height-1: 48px;
$line-height-2: 40px;
$line-height-3: 20px;

// 圆角
$radius: 4px;

// 图标
$icon-size-1: 24px;
$icon-size-2: 20px;
